.about-page-main {
  background-size: 20rem;
  background-position: left -10vw top 80vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #d6d6d6;
  padding-bottom: 5rem;
}

.brand-name {
  font-family: $arvo;
  font-size: 1.1rem;
}

.about-page-main h1 {
  margin: 0;
  padding-top: 5.5rem;
  text-align: center;
  color: $primary-black;
  font-family: $arvo;
}

.about-page-main p {
  padding: 0.5rem 1rem;
  color: $primary-black;
  font-family: $poppins;
  margin: 0;
}

.contact {
  color: $primary-black;
}

@media (min-width: 700px) {
  .about-page-main {
    background-position: left -10vw top 50vw;
    padding-bottom: 10rem;
  }
}

@media (min-width: 800px) {
  .about-page-main {
    background-position: left -10vw top 50vw;
  }
}

@media (min-width: 900px) {
  .about-page-main {
    background-position: left -10vw top 40vw;
    padding-bottom: 14rem;
  }
}

@media (min-width: 950px) {
  .about-page-main {
    background-position: left -10vw top 40vw;
    padding-bottom: 15rem;
  }
}

@media (min-width: 1000px) {
  .about-page-main {
    background-position: left -10vw top 40vw;
    padding-bottom: 17rem;
  }
}

@media (min-width: 1200px) {
  .about-page-main {
    background-position: left -5vw top 35vw;
    padding-bottom: 17rem;
  }
}

@media (min-width: 1300px) {
  .about-page-main {
    background-position: left -5vw top 35vw;
    padding-bottom: 22rem;
  }
}

@media (min-width: 1500px) {
  .about-page-main {
    background-position: left -3vw top 25vw;
    padding-bottom: 24rem;
  }
}
