$primary-black: #363d5b;
$primary-mustard: #ffbe0b;
$poppins: 'Poppins', sans-serif;
$arvo: 'Arvo', serif;

@import url('https://fonts.googleapis.com/css?family=Arvo:700|Poppins:300/700');
@import 'header';
@import 'mainpage';
@import 'footer';
@import 'useredit';
@import 'userprofile';
@import 'aboutpage';

html {
  font-size: 17px;
}

body {
  margin: 0;
}
