.user-image-container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff0c9;
  font-family: 'Poppins', sans-serif;

  .current-matches {
    width: 100%;
    align-self: flex-start;
    background-color: $primary-black;
    color: $primary-mustard;
    box-shadow: 0px 0.5px 5px $primary-black;
    display: flex;
  }

  .current-matches h3 {
    margin: 0.5rem 0;
    padding-top: 0.3rem;
    padding-left: 2rem;
    font-family: 'Arvo', serif;
    text-decoration: underline;
    font-weight: 300;
  }

  .notification {
    // display: none;
  }

  .fa-exclamation-circle {
    margin: 0.5rem 0;
    padding-top: 0.6rem;
    padding-left: 0.2rem;
    color: #ff0000;
  }

  .name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .name p {
    padding: 0 2rem;
    color: $primary-black;
    font-weight: 300;
    font-family: $arvo;
    font-size: 1rem;
  }

  .image-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .fa-arrow-left {
      padding-right: 0.5rem;
      color: $primary-black;
    }

    .fa-arrow-right {
      padding-left: 0.5rem;
      color: $primary-black;
    }
  }

  .user-image {
    height: 25rem;
    border-radius: 10px;
  }

  .thumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0 2rem 0;
    width: 100%;
    font-size: 2rem;
  }

  .fa-thumbs-down {
    color: #ff3a3a;
  }

  .fa-thumbs-up {
    color: #04e762;
  }
}

.name-locale p {
  margin: 0;
}

.name-locale p:first-child {
  margin-top: 0.3rem;
}

.about-underline {
  border: 1px dashed #9e9e9e;
  width: 100%;
  margin-bottom: 1rem;
}

.about-user {
  font-family: $arvo;
  margin: 0;
  align-self: flex-start;
  padding-bottom: 0.5rem;
}

.about-section-container {
  padding: 1rem;
  background-color: #d6d6d6;
  color: $primary-black;

  .about-questions {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
  }

  .about-questions p {
    margin: 0;
  }

  .about-questions p:first-child {
    font-weight: 700;
    font-family: $arvo;
  }
}

.meme-section-container {
  padding: 1rem;
  color: $primary-black;
}

.meme-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme {
  height: 14rem;
  border: 1px solid $primary-mustard;
  border-radius: 10px;
  margin: 0 0 0.5rem 0;
}

.link-no-underline {
  text-decoration: none;
}

@media (min-width: 700px) {
  .meme-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  div.name-locale {
    margin-left: 10rem;
  }

  .match {
    margin-right: 10rem;
  }

  .meme {
    margin: 0.2rem;
    height: 17rem;
  }

  .header .directions {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .header .directions {
    margin-right: 3rem;
  }

  .main-page-content {
    display: flex;
    justify-content: center;
  }

  .user-image-container {
    height: 100%;
  }

  .about-section-container {
    padding-top: 5rem;
    height: 100%;
  }

  .meme-section-container {
    padding-top: 5rem;
  }

  .user-section {
    flex: 1.5;
  }

  .about-section {
    flex: 1;
  }

  .humor-section {
    flex: 2;
  }

  div.name-locale {
    margin-left: 1rem;
  }

  .match {
    margin-right: 1rem;
  }
}

@media (min-width: 1300px) {
  div.name-locale {
    margin-left: 3rem;
  }

  .match {
    margin-right: 3rem;
  }
}

@media (min-width: 1600px) {
  div.name-locale {
    margin-left: 4rem;
  }

  .match {
    margin-right: 4rem;
  }
}
