.meme-label {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

input:checked + .meme-select {
  border: thick solid $primary-mustard;
}

.meme-select {
  height: 14rem;
  border: thick solid transparentize($primary-black, 1);
  border-radius: 10px;
  margin: 0 0 1rem 0;
}

.radio-meme {
  display: none;
}

.meme-collection {
  text-align: center;
  font-family: $arvo;
  margin-bottom: 0.5rem;
}

.meme-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
