p.edit {
  margin: 0;
}

.back {
  align-self: flex-start;
  font-size: 2rem;
  color: $primary-black;
  margin-left: 1rem;
  margin-top: 0;
}

.profile-name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $primary-black;
  font-weight: 300;
  font-family: $arvo;
  font-size: 1rem;
}

.profile-name-locale p {
  margin: 0;
  padding-left: 2rem;
}

.profile-name {
  margin: 0 0 0 2rem;
}

.user-edit {
  display: flex;
  padding-bottom: 1rem;
}

.user-edit p {
  margin: none;
  font-family: $poppins;
  font-size: 1.1rem;
  margin-top: 0;
  color: $primary-black;
}

.edit-arrow {
  margin-top: 0.25rem;
  margin-right: 2rem;
  padding-left: 0.3rem;
  color: $primary-black;
}

.profile-image-container {
  padding-bottom: 3rem;
}

@media (min-width: 700px) {
  .edit-arrow {
    margin-right: 11rem;
  }

  div.profile-name-locale {
    margin-left: 11rem;
  }
}

@media (min-width: 1000px) {
  .edit-arrow {
    margin-right: 1rem;
  }

  div.profile-name-locale {
    margin-left: 0.5rem;
  }
}

@media (min-width: 1300px) {
  .edit-arrow {
    margin-right: 3rem;
  }

  div.profile-name-locale {
    margin-left: 2rem;
  }
}

@media (min-width: 1600px) {
  .edit-arrow {
    margin-right: 4rem;
  }

  div.profile-name-locale {
    margin-left: 3rem;
  }
}
